#slideshow {
  width:300px;
  height:300px;
  position: relative;
  overflow: hidden;
  border: 5px solid #00AAff;
  display: inline-block;
}
#linklist {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
#preview {
  position: absolute;
}
