#replace {
  width:600px;
  height:400px;
  border: 10px solid #fff;
}

body {
  font-family:'Helvetica','Arial';
  color: #333;
  background-color: #ccc;
  margin: 1em 10%;
}

h1 {
  color: #333;
  background-color: transparent;
}

a {
  color: #c60;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  display: inline-block;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style-type:none;
  margin: 10px;
}
a {
  width:120px;
  height:100px;
}

#describe {
  margin-top:20px;
  font-family: "Ubuntu Mono";
  font-size: 20px;
  display: block;
}

#gallery img {
  width:120px;
  height:100px;
  border: 0;
}